.TextField
{
    text-align: left;
    display: inline-block;
    width:100%;

}
.TextField .label
{
    text-align: left;
    width:100%;

}
.TextField input
{
   border-radius: 0;
    outline: 0;
    width:100%;
    font-size: 18px;
    border: 1px solid #DDD;
    padding: 5px;
    display: inline-block;
    margin-bottom: 20px;


}
.TextField input:focus
{
    border: 1px solid black;

}